* {
    font-family: "IosevkaNFM";
    font-size: 18px;
    font-weight: bold;
  }

window#waybar {
  background: #00000000;
  color: #{{FOREGROUND}};
}

#custom-cpu-usage {
  color: #{{PRIMARY_ACCENT}};
}

#custom-mem-usage {
  color: #{{YELLOW}};
}

#custom-internet.connected {
  color: #{{GREEN}};
}
#custom-internet.disconnected {
  color: #{{RED}};
}
