* {
    font-family: "IosevkaNFM";
    font-size: 18px;
    font-weight: bold;
  }

window#waybar {
  background: #00000000;
}

#custom-cpu-usage {
  color: #{{PRIMARY_ACCENT}};
}

#custom-mem-usage {
  color: #{{YELLOW}};
}
